@{
    ViewBag.Title = "Index";
}

<h2>FuelEconomy.gov Vehicle Info</h2>

<form>    
    <div class="editor-label">
        <span class="editor-label">Year</span>
    </div>
    <div class=" editor-field">
        <select id="years" style="width:200px;" data-bind="options: years, optionsText: 'Text', optionsValue: 'Value', value: selectedYear"></select>
    </div>

    <div class="editor-label">
        <span class="editor-label">Make</span>
    </div>
    <div class=" editor-field">
        <select id="makes" style="width:200px;" data-bind="options: makes, optionsText: 'Text', optionsValue: 'Value', value: selectedMake, optionsCaption: 'Select...'"></select>
    </div>

    <div class="editor-label">
        <span class="editor-label">Model</span>
    </div>
    <div class=" editor-field">
        <select id="model" style="width:200px;" data-bind="options: models, optionsText: 'Text', optionsValue: 'Value', value: selectedModel, optionsCaption: 'Select...'"></select>
    </div>

    <div class="editor-label">
        <span class="editor-label">Options</span>
    </div>
    <div class=" editor-field">
        <select id="options" style="width:200px;" data-bind="options: options, optionsText: 'Text', optionsValue: 'Value', value: selectedOption, optionsCaption: 'Select...'"></select>
    </div>

</form>

@section scripts {
    <script src="@Url.Content("~/Scripts/home.js")" type="text/javascript" ></script>
}